# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

# User-specific stuff:
.idea/*
!.idea/runConfigurations

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# Ignore target folders
target/

*.class

# Package Files #
*.jar
*.war
*.ear
